/*Font*/
/*Color*/
html {
  width: 100%;
  height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: #000 url("../assets/img/bg.jpg") no-repeat center center;
  background-size: cover;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oswald", sans-serif; }
  @media only screen and (max-width: 990px) {
    body {
      background: #737373;
      height: auto; } }

.clear {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  clear: both; }

.general-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 10px 0px 40px; }
  @media only screen and (max-width: 990px) {
    .general-wrapper {
      padding-top: 20px;
      padding-bottom: 80px;
      display: inline-block;
      float: left; } }
  @media only screen and (max-width: 480px) {
    .general-wrapper {
      padding-bottom: 0px; } }
  .general-wrapper section {
    height: 100vh;
    height: 100%; }
    .general-wrapper section.box-left {
      padding-left: 10px; }
      @media only screen and (max-width: 990px) {
        .general-wrapper section.box-left {
          padding-right: 10px;
          height: auto;
          margin-bottom: 20px; } }
      .general-wrapper section.box-left .title-box {
        display: block;
        width: 100%;
        height: 15%;
        padding: 3% 0% 0% 0%;
        margin-bottom: 0px; }
        .general-wrapper section.box-left .title-box h1 {
          font-size: 1.875em;
          text-transform: uppercase;
          color: #FFF;
          margin: 0px 0px 15px 0px;
          padding: 0px; }
        .general-wrapper section.box-left .title-box .time-box {
          color: #FFF;
          text-align: center;
          display: inline-block;
          width: 100%; }
          .general-wrapper section.box-left .title-box .time-box time {
            font-size: 1em;
            font-weight: 300;
            display: inline-block;
            background: url("../assets/img/icon-time.png") left 6px no-repeat;
            padding: 0px 0px 0px 30px;
            margin: 0px 0px 0px 0px;
            float: left; }
          .general-wrapper section.box-left .title-box .time-box p {
            display: inline-block;
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-style: italic;
            font-size: 1em;
            float: right; }
      .general-wrapper section.box-left .current-prognostic {
        color: #FFF;
        font-size: 1.125em;
        font-weight: 300;
        display: inline-block;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 8px;
        margin-bottom: 15px;
        text-align: center;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px; }
        .general-wrapper section.box-left .current-prognostic .item {
          display: block;
          width: 20%;
          float: left;
          border-left: solid 1px rgba(255, 255, 255, 0.2); }
          .general-wrapper section.box-left .current-prognostic .item.velocity {
            border-left: none; }
          .general-wrapper section.box-left .current-prognostic .item .img-box {
            display: block;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px rgba(255, 255, 255, 0.2);
            height: 50px; }
          .general-wrapper section.box-left .current-prognostic .item .info-box {
            width: 100%;
            height: 40px;
            display: block;
            line-height: 40px;
            font-size: 14px;
            font-weight: 300; }
            .general-wrapper section.box-left .current-prognostic .item .info-box p {
              display: inline-block;
              vertical-align: middle;
              line-height: normal;
              margin: 0px; }
      .general-wrapper section.box-left .prognostic-box {
        display: inline-block;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        float: left;
        color: #FFF;
        border-radius: 8px;
        padding-top: 20px; }
        .general-wrapper section.box-left .prognostic-box h2 {
          text-transform: uppercase;
          font-size: 1.875em;
          margin: 0px 0px 0px 0px; }
        .general-wrapper section.box-left .prognostic-box p {
          font-family: "Lato", sans-serif;
          font-weight: 300;
          font-style: italic;
          font-size: 1em;
          margin: 0px; }
        .general-wrapper section.box-left .prognostic-box ul {
          display: inline-block;
          background: rgba(0, 0, 0, 0.6);
          width: 100%;
          padding: 0px;
          text-align: center;
          margin: 20px 0px 0px 0px; }
          .general-wrapper section.box-left .prognostic-box ul li {
            display: block;
            width: 16.6%;
            float: left;
            position: relative;
            height: 75px;
            padding: 15px 0px; }
            .general-wrapper section.box-left .prognostic-box ul li em {
              display: block;
              font-family: "Lato", sans-serif;
              font-size: 0.75em;
              font-style: italic; }
            .general-wrapper section.box-left .prognostic-box ul li:after {
              content: "";
              display: block;
              width: 1px;
              height: 20px;
              background: rgba(255, 255, 255, 0.4);
              position: absolute;
              top: 35%;
              right: 0px; }
            .general-wrapper section.box-left .prognostic-box ul li:first-child {
              font-family: "Oswald", sans-serif;
              font-size: 1.125em;
              font-weight: 400;
              padding-top: 25px; }
            .general-wrapper section.box-left .prognostic-box ul li:nth-child(2) em {
              padding-top: 8px; }
            .general-wrapper section.box-left .prognostic-box ul li:nth-child(4) em {
              padding-top: 6px; }
            .general-wrapper section.box-left .prognostic-box ul li:nth-child(5) em {
              padding-top: 4px; }
            .general-wrapper section.box-left .prognostic-box ul li:last-child em {
              padding-top: 4px; }
            .general-wrapper section.box-left .prognostic-box ul li:last-child:after {
              display: none; }
        .general-wrapper section.box-left .prognostic-box .table-prognostic {
          display: block;
          width: 100%;
          float: left;
          font-size: 0.875em;
          font-weight: 300; }
          @media only screen and (max-width: 480px) {
            .general-wrapper section.box-left .prognostic-box .table-prognostic {
              min-height: 300px; } }
          .general-wrapper section.box-left .prognostic-box .table-prognostic .row-table {
            display: block;
            width: 100%;
            border-bottom: dotted 1px #FFF;
            float: left; }
            .general-wrapper section.box-left .prognostic-box .table-prognostic .row-table > div {
              display: block;
              width: 16.6%;
              float: left;
              height: 37px;
              line-height: 37px;
              border-right: 1px solid #FFF;
              padding-right: 5px;
              padding-left: 5px; }
              .general-wrapper section.box-left .prognostic-box .table-prognostic .row-table > div:last-child {
                border-right: none; }
              .general-wrapper section.box-left .prognostic-box .table-prognostic .row-table > div > span {
                display: inline-block;
                vertical-align: middle;
                line-height: normal; }
    .general-wrapper section.box-middle {
      padding-left: 0px;
      height: 100%; }
      @media only screen and (max-width: 990px) {
        .general-wrapper section.box-middle {
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 25px;
          height: auto; } }
      .general-wrapper section.box-middle .content-tabs-top {
        display: block;
        padding: 0px 0px 15px 0px;
        padding-left: 15px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.6);
        padding-right: 15px;
        min-height: 100%;
        position: relative; }
        @media only screen and (max-width: 480px) {
          .general-wrapper section.box-middle .content-tabs-top {
            padding-left: 5px;
            padding-right: 5px; } }
        .general-wrapper section.box-middle .content-tabs-top .convention-maps {
          position: absolute;
          right: 3%;
          bottom: 25px;
          color: #fff;
          font-size: 12px;
          display: block;
          width: 50%;
          text-align: right; }
          @media only screen and (max-width: 480px) {
            .general-wrapper section.box-middle .content-tabs-top .convention-maps {
              position: relative;
              bottom: -10px;
              width: 100%;
              margin-bottom: 30px;
              right: 0px;
              padding-right: 10px; } }
          .general-wrapper section.box-middle .content-tabs-top .convention-maps .first {
            display: inline-block;
            margin-right: 15px; }
            .general-wrapper section.box-middle .content-tabs-top .convention-maps .first:before {
              display: block;
              content: "";
              background: #69b3ff;
              width: 10px;
              height: 10px;
              float: left;
              margin: 4px 10px 0px 0px; }
          .general-wrapper section.box-middle .content-tabs-top .convention-maps .last {
            display: inline-block; }
            .general-wrapper section.box-middle .content-tabs-top .convention-maps .last:before {
              display: block;
              content: "";
              background: #ff7c00;
              width: 10px;
              height: 10px;
              float: left;
              margin: 4px 10px 0px 0px; }
        .general-wrapper section.box-middle .content-tabs-top ul {
          padding: 0px;
          margin: 20px 0px 10px;
          display: inline-block;
          list-style: none;
          font-size: 0.75em;
          font-weight: 300;
          text-align: center;
          text-transform: uppercase;
          border-bottom: 2px solid rgba(105, 179, 255, 0.9);
          clear: both; }
          @media only screen and (max-width: 480px) {
            .general-wrapper section.box-middle .content-tabs-top ul {
              width: 100%; } }
          .general-wrapper section.box-middle .content-tabs-top ul li {
            display: inline-block;
            background: rgba(105, 179, 255, 0.9);
            color: #FFF;
            max-width: 100px;
            padding: 0px 6px 0px;
            height: 35px;
            line-height: 34px; }
            @media only screen and (max-width: 480px) {
              .general-wrapper section.box-middle .content-tabs-top ul li {
                max-width: inherit;
                width: 49%;
                line-height: 30px; } }
            .general-wrapper section.box-middle .content-tabs-top ul li a {
              color: inherit;
              display: inline-block;
              vertical-align: bottom;
              line-height: normal; }
              .general-wrapper section.box-middle .content-tabs-top ul li a:hover, .general-wrapper section.box-middle .content-tabs-top ul li a:focus {
                text-decoration: none;
                outline: none; }
            .general-wrapper section.box-middle .content-tabs-top ul li.ui-state-active {
              background: rgba(0, 0, 0, 0.3) !important;
              color: #FFF; }
            .general-wrapper section.box-middle .content-tabs-top ul li.orange {
              background: #ff7c00;
              color: #FFF; }
        .general-wrapper section.box-middle .content-tabs-top > div {
          text-align: center; }
          .general-wrapper section.box-middle .content-tabs-top > div canvas {
            max-width: 100%; }
          .general-wrapper section.box-middle .content-tabs-top > div div.img-container img {
            border: solid 1px red; }
          .general-wrapper section.box-middle .content-tabs-top > div .player-controls {
            display: block;
            width: 100%;
            text-align: center; }
            .general-wrapper section.box-middle .content-tabs-top > div .player-controls a {
              font-family: "Oswald", sans-serif;
              background: rgba(105, 179, 255, 0.9);
              border-radius: 3px;
              padding: 5px 15px;
              color: #fff;
              text-transform: uppercase;
              text-decoration: none;
              display: inline-block; }
          .general-wrapper section.box-middle .content-tabs-top > div div.tab-content {
            width: 100%;
            text-align: center; }
          .general-wrapper section.box-middle .content-tabs-top > div h3 {
            font-family: "Oswald", sans-serif;
            font-size: 16px;
            text-transform: uppercase; }
          .general-wrapper section.box-middle .content-tabs-top > div img {
            margin: 0px auto;
            display: block; }
      .general-wrapper section.box-middle .content-tabs-bot {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.6);
        display: block;
        padding: 0px 15px 15px;
        height: 43%;
        margin-top: 20px; }
        .general-wrapper section.box-middle .content-tabs-bot ul {
          padding: 0px;
          margin: 20px 0px 10px;
          display: inline-block;
          list-style: none;
          font-size: 0.75em;
          font-weight: 300;
          text-align: center;
          text-transform: uppercase;
          border-bottom: 2px solid rgba(105, 179, 255, 0.9);
          clear: both; }
          .general-wrapper section.box-middle .content-tabs-bot ul li {
            display: inline-block;
            background: rgba(0, 0, 0, 0.3);
            color: #FFF;
            max-width: 100px;
            padding: 0px 15px 0px;
            height: 35px;
            line-height: 34px; }
            .general-wrapper section.box-middle .content-tabs-bot ul li a {
              color: inherit;
              display: inline-block;
              vertical-align: bottom;
              line-height: normal; }
              .general-wrapper section.box-middle .content-tabs-bot ul li a:hover, .general-wrapper section.box-middle .content-tabs-bot ul li a:focus {
                text-decoration: none;
                outline: none; }
            .general-wrapper section.box-middle .content-tabs-bot ul li.ui-state-active {
              background: rgba(105, 179, 255, 0.9);
              color: #FFF; }
        .general-wrapper section.box-middle .content-tabs-bot > div canvas {
          width: 100%; }
        .general-wrapper section.box-middle .content-tabs-bot > div div.img-container img {
          border: solid 1px red; }
        .general-wrapper section.box-middle .content-tabs-bot > div .player-controls {
          display: block;
          width: 100%;
          text-align: center; }
          .general-wrapper section.box-middle .content-tabs-bot > div .player-controls a {
            font-family: "Oswald", sans-serif;
            background: rgba(105, 179, 255, 0.9);
            border-radius: 3px;
            padding: 5px 15px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block; }
        .general-wrapper section.box-middle .content-tabs-bot > div div.tab-content {
          width: 100%;
          text-align: center; }
        .general-wrapper section.box-middle .content-tabs-bot > div h3 {
          font-family: "Oswald", sans-serif;
          font-size: 16px;
          text-transform: uppercase; }
        .general-wrapper section.box-middle .content-tabs-bot > div img {
          margin: 0px auto;
          display: block; }
    .general-wrapper section.box-right {
      padding-left: 0px;
      padding-right: 10px; }
      @media only screen and (max-width: 990px) {
        .general-wrapper section.box-right {
          padding-left: 10px; } }
      .general-wrapper section.box-right .info-box {
        display: block;
        width: 100%;
        min-height: 30%;
        border-radius: 8px;
        padding: 10px; }
        @media only screen and (max-width: 990px) {
          .general-wrapper section.box-right .info-box {
            width: 45%;
            float: left; } }
        @media only screen and (max-width: 480px) {
          .general-wrapper section.box-right .info-box {
            width: 100%; } }
        .general-wrapper section.box-right .info-box .title {
          display: block;
          padding: 3% 0px 0px 0px; }
          .general-wrapper section.box-right .info-box .title img {
            max-width: 50px; }
          .general-wrapper section.box-right .info-box .title h2 {
            margin: 10px 0px 25px;
            color: #FFF;
            font-size: 1.875em;
            font-weight: 300;
            text-transform: uppercase; }
            .general-wrapper section.box-right .info-box .title h2 strong {
              font-weight: 700; }
        .general-wrapper section.box-right .info-box .content-info-default {
          display: none;
          width: 80%;
          color: #FFF; }
          .general-wrapper section.box-right .info-box .content-info-default p {
            font-family: "Lato", sans-serif;
            font-size: 0.875em;
            font-weight: 300;
            text-align: center;
            margin: 0px auto; }
        .general-wrapper section.box-right .info-box .content-info-alert {
          display: inline-block;
          width: 100%;
          color: #FFF; }
          .general-wrapper section.box-right .info-box .content-info-alert p {
            font-family: "Lato", sans-serif;
            font-size: 0.9375em;
            font-weight: 300;
            text-align: center;
            margin: 0px auto; }
          .general-wrapper section.box-right .info-box .content-info-alert ul {
            display: block;
            width: 100%;
            padding: 0px;
            margin: 0px auto;
            list-style: none;
            font-size: 1em;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center; }
            .general-wrapper section.box-right .info-box .content-info-alert ul li {
              display: inline-block;
              width: 100%;
              margin-bottom: 10px; }
              .general-wrapper section.box-right .info-box .content-info-alert ul li p {
                display: block;
                float: left;
                width: 50%;
                text-align: left; }
              .general-wrapper section.box-right .info-box .content-info-alert ul li img {
                margin-right: 5px; }
              .general-wrapper section.box-right .info-box .content-info-alert ul li span {
                display: block;
                width: 50%;
                float: right;
                font-weight: 700;
                text-align: right; }
      .general-wrapper section.box-right .recent-alerts {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding: 10px;
        margin-top: 20px;
        display: inline-block;
        width: 100%; }
        @media only screen and (max-width: 990px) {
          .general-wrapper section.box-right .recent-alerts {
            width: 50%;
            float: right;
            margin-top: 0px; } }
        @media only screen and (max-width: 480px) {
          .general-wrapper section.box-right .recent-alerts {
            width: 100%;
            float: left;
            margin-top: 20px; } }
        .general-wrapper section.box-right .recent-alerts > h3 {
          color: #FFF;
          font-size: 1.125em;
          font-weight: 300;
          text-align: center;
          text-transform: uppercase;
          margin: 15px 0px 20px 0px; }
          .general-wrapper section.box-right .recent-alerts > h3 strong {
            font-weight: 400; }
        .general-wrapper section.box-right .recent-alerts #accordion_alert h3 {
          background: rgba(255, 255, 255, 0.5);
          color: #2f2f2f;
          font-size: 1em;
          font-family: "Oswald", sans-serif;
          border-radius: 0px;
          border-width: 0px;
          padding: 10px 5px;
          cursor: pointer;
          outline: none;
          margin: 1px 0px;
          display: block;
          clear: both; }
          .general-wrapper section.box-right .recent-alerts #accordion_alert h3 span.ui-accordion-header-icon {
            display: block;
            float: right;
            width: 15px;
            height: 15px; }
            .general-wrapper section.box-right .recent-alerts #accordion_alert h3 span.ui-accordion-header-icon.plus {
              background: url("../assets/img/plus-icon.png") no-repeat center center; }
            .general-wrapper section.box-right .recent-alerts #accordion_alert h3 span.ui-accordion-header-icon.minus {
              background: url("../assets/img/minus-icon.png") no-repeat center center; }
          .general-wrapper section.box-right .recent-alerts #accordion_alert h3 span.alert-icon {
            display: block;
            width: 19px;
            height: 19px;
            border: solid 2px #FFF;
            border-radius: 100%;
            float: left;
            margin: 0px 5px 0px 0px; }
            .general-wrapper section.box-right .recent-alerts #accordion_alert h3 span.alert-icon.naranja {
              background: #fb903a; }
            .general-wrapper section.box-right .recent-alerts #accordion_alert h3 span.alert-icon.roja {
              background: #fb3a3a; }
            .general-wrapper section.box-right .recent-alerts #accordion_alert h3 span.alert-icon.amarilla {
              background: #ffff28; }
        .general-wrapper section.box-right .recent-alerts #accordion_alert div {
          background: rgba(255, 255, 255, 0.7);
          font-size: 0.9375em;
          font-family: "Oswald", sans-serif;
          font-weight: 300;
          color: #2f2f2f;
          padding: 10px;
          border-radius: 0px;
          border-width: 0px;
          float: left;
          width: 100%;
          margin-bottom: 1px; }
          .general-wrapper section.box-right .recent-alerts #accordion_alert div ul {
            display: inline-block;
            width: 100%;
            padding: 0px;
            margin: 0px;
            list-style: none; }
            .general-wrapper section.box-right .recent-alerts #accordion_alert div ul li {
              display: block;
              width: 100%;
              float: left; }
              .general-wrapper section.box-right .recent-alerts #accordion_alert div ul li p {
                display: block;
                float: left;
                width: 50%; }
              .general-wrapper section.box-right .recent-alerts #accordion_alert div ul li img {
                margin-right: 5px; }
              .general-wrapper section.box-right .recent-alerts #accordion_alert div ul li span {
                display: block;
                float: right;
                width: 50%;
                font-weight: 700;
                text-align: right; }
      .general-wrapper section.box-right.default .info-box {
        background: rgba(0, 0, 0, 0.5); }
      .general-wrapper section.box-right.naranja .info-box {
        background: rgba(255, 102, 0, 0.7); }
      .general-wrapper section.box-right.amarillo .info-box {
        background: rgba(233, 197, 1, 0.7); }
      .general-wrapper section.box-right.rojo .info-box {
        background: rgba(195, 6, 6, 0.7); }
  .general-wrapper footer {
    background: rgba(0, 0, 0, 0.7);
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0px;
    color: #FFF;
    padding: 2px 0px 2px 0px; }
    @media only screen and (max-width: 480px) {
      .general-wrapper footer {
        position: relative;
        display: inline-block;
        margin-top: 25px;
        padding: 10px 0px;
        float: left; } }
    .general-wrapper footer p {
      font-size: 0.75em;
      text-transform: uppercase;
      margin: 0px 30px 0px 0px;
      display: inline-block; }
    .general-wrapper footer ul {
      display: inline-block;
      padding: 0px;
      margin: 0px;
      position: relative;
      top: -1px;
      font-family: "Lato", sans-serif;
      font-size: 0.75em;
      font-weight: 300;
      font-style: italic; }
      .general-wrapper footer ul li {
        display: inline-block;
        margin: 0px 15px 0px 0px; }
        .general-wrapper footer ul li img {
          margin: 0px 5px 0px 0px; }

#modalAlert .modal-dialog {
  margin-top: 20%; }
  #modalAlert .modal-dialog .modal-content {
    background: rgba(1, 16, 24, 0.8);
    border-radius: 0px;
    box-shadow: none; }
    #modalAlert .modal-dialog .modal-content .close {
      color: #FFF;
      position: absolute;
      right: -40px;
      top: -70px;
      text-shadow: none;
      opacity: 1;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 300; }
      @media only screen and (max-width: 480px) {
        #modalAlert .modal-dialog .modal-content .close {
          right: 0px;
          top: -80px; } }
      #modalAlert .modal-dialog .modal-content .close span {
        display: block;
        font-size: 60px;
        position: relative;
        top: 10px; }
    #modalAlert .modal-dialog .modal-content.naranja {
      background: rgba(255, 126, 0, 0.8); }
    #modalAlert .modal-dialog .modal-content.amarillo {
      background: rgba(199, 183, 40, 0.8); }
    #modalAlert .modal-dialog .modal-content.rojo {
      background: rgba(251, 58, 58, 0.8); }
    #modalAlert .modal-dialog .modal-content .modal-header {
      padding-top: 30px;
      border: none; }
      #modalAlert .modal-dialog .modal-content .modal-header h3 {
        color: #FFF;
        font-size: 2.6875em;
        font-weight: 300;
        text-transform: uppercase; }
        #modalAlert .modal-dialog .modal-content .modal-header h3 strong {
          weight: 700; }
    #modalAlert .modal-dialog .modal-content .modal-body {
      color: #FFF;
      width: 70%;
      margin: 0px auto; }
      @media only screen and (max-width: 480px) {
        #modalAlert .modal-dialog .modal-content .modal-body {
          width: 100%; } }
      #modalAlert .modal-dialog .modal-content .modal-body ul {
        padding: 0px;
        list-style: none;
        font-size: 1em;
        font-weight: 300;
        text-transform: uppercase;
        display: inline-block; }
        #modalAlert .modal-dialog .modal-content .modal-body ul li {
          display: block;
          width: 100%;
          float: left;
          margin-bottom: 10px; }
        #modalAlert .modal-dialog .modal-content .modal-body ul img {
          margin-right: 15px; }
        #modalAlert .modal-dialog .modal-content .modal-body ul span {
          display: block;
          float: right;
          width: 30%;
          font-weight: 700;
          text-align: right; }

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }
