@import variables
@import functions

html
    width: 100%
    height: 100%
body
    margin: 0px
    padding: 0px
    display: block
    width: 100%
    height: 100%
    background: #000 url("../assets/img/bg.jpg") no-repeat center center
    background-size: cover
    font-size: $browser-context + px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: $regular
    @include breakpoint(sm_pc)
        background: #737373
        height: auto
.clear 
    display: block
    width: 100%
    margin: 0px
    padding: 0px
    clear: both
.general-wrapper
    display: block
    width: 100%
    height: 100%
    margin: 0px
    padding: 10px 0px 40px
    @include breakpoint(sm_pc)
        padding:
            top: 20px 
            bottom: 80px
        display: inline-block
        float: left
    @include breakpoint(mobile)
        padding-bottom: 0px
    section
        height: 100vh
        height: 100%
        &.box-left 
            padding-left: 10px
            @include breakpoint(sm_pc)
                padding-right: 10px
                height: auto
                margin-bottom: 20px
            .title-box
                display: block
                width: 100%
                height: 15%
                padding: 3% 0% 0% 0%
                margin-bottom: 0px
                h1
                    font:
                        size: em(30)
                    text:
                        transform: uppercase    
                    color: #FFF
                    margin: 0px 0px 15px 0px
                    padding: 0px
                .time-box
                    color: #FFF
                    text:
                        align: center
                    display: inline-block
                    width: 100%
                    time
                        font: 
                            size: em(16)
                            weight: 300
                        display: inline-block
                        background: url("../assets/img/icon-time.png") left 6px no-repeat
                        padding: 0px 0px 0px 30px
                        margin: 0px 0px 0px 0px
                        float: left
                    p 
                        display: inline-block
                        font:
                            family: $lato
                            weight: 300
                            style: italic
                            size: em(16)
                        float: right
            .current-prognostic
                color: #FFF
                font:
                    size: em(18)
                    weight: 300
                display: inline-block
                width: 100%
                background: rgba(0,0,0,0.6)
                border-radius: 8px
                margin-bottom: 15px
                text-align: center
                float: left
                padding:
                    left: 15px
                    right: 15px
                    bottom: 20px
                .item
                    display: block
                    width: 20%
                    float: left
                    border-left: solid 1px rgba(255,255,255,0.2)
                    &.velocity
                        border-left: none
                    .img-box    
                        display: block
                        width: 100%
                        padding:
                            top: 10px
                            bottom: 10px
                        border-bottom: solid 1px rgba(255,255,255,0.2)
                        height: 50px
                    .info-box
                        width: 100%
                        height: 40px
                        display: block
                        line-height: 40px
                        font:
                            size: 14px
                            weight: 300
                        p
                            display: inline-block
                            vertical-align: middle
                            line-height: normal
                            margin: 0px
            .prognostic-box
                display: inline-block
                width: 100%
                background: rgba(0,0,0,0.6)
                float: left
                color: #FFF
                border-radius: 8px
                padding-top: 20px
                h2
                    text-transform: uppercase
                    font:
                        size: em(30)
                    margin: 0px 0px 0px 0px
                p
                    font: 
                        family: $lato
                        weight: 300
                        style: italic
                        size: em(16)
                    margin: 0px
                ul
                    display: inline-block
                    background: rgba(0,0,0,0.6)
                    width: 100%
                    padding: 0px
                    text-align: center
                    margin: 20px 0px 0px 0px
                    li
                        display: block
                        width: 16.6%
                        float: left 
                        position: relative
                        height: 75px
                        padding: 15px 0px
                        em
                            display: block
                            font:
                                family: $lato
                                size: em(12)
                                style: italic
                        &:after
                            content: ""
                            display: block
                            width: 1px
                            height: 20px
                            background: rgba(255, 255, 255, 0.4)
                            position: absolute
                            top: 35%
                            right: 0px
                        &:first-child
                            font:
                                family: $regular
                                size: em(18)
                                weight: 400
                            padding-top: 25px 
                        &:nth-child(2)
                            em
                                padding-top: 8px
                        &:nth-child(4)
                            em
                                padding-top: 6px
                        &:nth-child(5)
                            em
                                padding-top: 4px 
                        &:last-child
                            em
                                padding-top: 4px 
                            &:after
                                display: none
                .table-prognostic
                    display: block
                    width: 100%
                    float: left
                    font:
                        size: em(14)
                        weight: 300
                    @include breakpoint(mobile)
                        min-height: 300px
                    .row-table
                        display: block
                        width: 100%
                        border-bottom: dotted 1px #FFF
                        float: left
                        > div
                            display: block
                            width: 16.6%
                            float: left
                            height: 37px
                            line-height: 37px
                            border-right: 1px solid #FFF
                            padding: 
                                right: 5px
                                left: 5px
                            &:last-child
                                border-right: none
                            > span
                                display: inline-block
                                vertical-align: middle
                                line-height: normal
        &.box-middle
            padding: 
                left: 0px
            height: 100%
            @include breakpoint(sm_pc)
                padding: 
                    left: 10px
                    right: 10px
                margin: 
                    bottom: 25px
                height: auto
            .content-tabs-top
                display: block
                padding: 0px 0px 15px 0px
                padding-left: 15px
                border-radius: 8px
                background: rgba(0,0,0,0.6)
                padding-right: 15px
                min-height: 100%
                position: relative
                @include breakpoint(mobile)
                    padding:
                        left: 5px
                        right: 5px
                .convention-maps
                    position: absolute
                    right: 3%
                    bottom: 25px
                    color: #fff
                    font-size: 12px
                    display: block
                    width: 50%
                    text-align: right
                    @include breakpoint(mobile)
                        position: relative
                        bottom: -10px
                        width: 100%
                        margin-bottom: 30px
                        right: 0px
                        padding-right: 10px
                    .first
                        display: inline-block
                        margin-right: 15px
                        &:before
                            display: block
                            content: ""
                            background: rgba(105, 179, 255,1)
                            width: 10px
                            height: 10px
                            float: left
                            margin: 4px 10px 0px 0px
                    .last
                        display: inline-block
                        &:before
                            display: block
                            content: ""
                            background: #ff7c00
                            width: 10px
                            height: 10px
                            float: left
                            margin: 4px 10px 0px 0px
                ul
                    padding: 0px
                    margin: 20px 0px 10px
                    display: inline-block
                    list-style: none
                    font:
                        size: em(12)
                        weight: 300
                    text:
                        align: center
                        transform: uppercase
                    border-bottom: 2px solid rgba(105,179,255,0.9)
                    clear: both
                    @include breakpoint(mobile)
                        width: 100%
                    li
                        display: inline-block
                        background: rgba(105,179,255,0.9)
                        color: #FFF
                        max-width: 100px
                        padding: 0px 6px 0px
                        height: 35px
                        line-height: 34px
                        @include breakpoint(mobile)
                            max-width: inherit
                            width: 49%
                            line-height: 30px
                        a 
                            color: inherit
                            display: inline-block
                            vertical-align: bottom
                            line-height: normal
                            &:hover, &:focus
                                text-decoration: none
                                outline: none
                        &.ui-state-active
                            background: rgba(0, 0, 0, 0.3) !important
                            color: #FFF
                        &.orange
                            background: #ff7c00
                            color: #FFF
                > div
                    text-align: center
                    canvas
                        max-width: 100%
                    div.img-container img
                        border: solid 1px red
                    .player-controls
                        display: block
                        width: 100%
                        text-align: center
                        a
                            font-family: $regular
                            background: rgba(105, 179, 255, 0.9)
                            border-radius: 3px
                            padding: 5px 15px
                            color: #fff
                            text-transform: uppercase
                            text-decoration: none
                            display: inline-block
                    div.tab-content
                        width: 100%
                        text-align: center
                    h3
                        font-family: $regular
                        font-size: 16px
                        text-transform: uppercase
                    img
                        margin: 0px auto
                        display: block
            .content-tabs-bot
                border-radius: 8px
                background: rgba(0,0,0,0.6)
                display: block
                padding: 0px 15px 15px
                height: 43%
                margin-top: 20px 
                ul
                    padding: 0px
                    margin: 20px 0px 10px
                    display: inline-block
                    list-style: none
                    font:
                        size: em(12)
                        weight: 300
                    text:
                        align: center
                        transform: uppercase
                    border-bottom: 2px solid rgba(105,179,255,0.9)
                    clear: both
                    li
                        display: inline-block
                        background: rgba(0, 0, 0, 0.3)
                        color: #FFF
                        max-width: 100px
                        padding: 0px 15px 0px
                        height: 35px
                        line-height: 34px
                        a 
                            color: inherit
                            display: inline-block
                            vertical-align: bottom
                            line-height: normal
                            &:hover, &:focus
                                text-decoration: none
                                outline: none
                        &.ui-state-active
                            background: rgba(105,179,255,0.9)
                            color: #FFF
                > div
                    canvas
                        width: 100%
                    div.img-container img
                        border: solid 1px red
                    .player-controls
                        display: block
                        width: 100%
                        text-align: center
                        a
                            font-family: $regular
                            background: rgba(105, 179, 255, 0.9)
                            border-radius: 3px
                            padding: 5px 15px
                            color: #fff
                            text-transform: uppercase
                            text-decoration: none
                            display: inline-block
                    div.tab-content
                        width: 100%
                        text-align: center
                    h3
                        font-family: $regular
                        font-size: 16px
                        text-transform: uppercase
                    img
                        margin: 0px auto
                        display: block
        &.box-right 
            padding: 
                left: 0px
                right: 10px
            @include breakpoint(sm_pc)
                padding:
                    left: 10px
            .info-box
                display: block
                width: 100%
                min-height: 30%
                border-radius: 8px
                padding: 10px
                @include breakpoint(sm_pc)
                    width: 45%
                    float: left
                @include breakpoint(mobile)
                    width: 100%
                .title
                    display: block
                    padding: 3% 0px 0px 0px
                    img
                        max-width: 50px
                    h2
                        margin: 10px 0px 25px
                        color: #FFF
                        font:
                            size: em(30)
                            weight: 300
                        text-transform: uppercase
                        strong
                            font-weight: 700
                .content-info-default
                    display: none
                    width: 80%
                    color: #FFF
                    p
                        font:
                            family: $lato
                            size: em(14)
                            weight: 300
                        text-align: center
                        margin: 0px auto
                .content-info-alert
                    display: inline-block
                    width: 100%
                    color: #FFF
                    p
                        font:
                            family: $lato
                            size: em(15)
                            weight: 300
                        text-align: center
                        margin: 0px auto
                    ul
                        display: block
                        width: 100%
                        padding: 0px
                        margin: 0px auto
                        list-style: none
                        font:
                            size: em(16)
                            weight: 300
                        text:
                            transform: uppercase
                            align: center
                        li
                            display: inline-block
                            width: 100%
                            margin-bottom: 10px
                            p
                                display: block
                                float: left
                                width: 50%
                                text-align: left
                            img
                                margin-right: 5px 
                            span
                                display: block
                                width: 50%
                                float: right 
                                font-weight: 700
                                text-align: right 
            .recent-alerts
                background: rgba(0,0,0,0.5)
                border-radius: 8px
                padding: 10px
                margin-top: 20px
                display: inline-block
                width: 100%
                @include breakpoint(sm_pc)
                    width: 50%
                    float: right 
                    margin: 
                        top: 0px
                @include breakpoint(mobile)
                    width: 100%
                    float: left
                    margin-top: 20px
                > h3
                    color: #FFF
                    font:
                        size: em(18)
                        weight: 300
                    text:
                        align: center
                        transform: uppercase
                    margin: 15px 0px 20px 0px
                    strong
                        font-weight: 400
                #accordion_alert
                    h3
                        background: rgba(255, 255, 255, 0.5)
                        color: #2f2f2f
                        font:
                            size: em(16)
                            family: $regular
                        border:
                       	    radius: 0px
                            width: 0px
                        padding: 10px 5px
                        cursor: pointer
                        outline: none
                        margin: 1px 0px
                        display: block
                        clear: both
                        span
                            &.ui-accordion-header-icon 
                                display: block
                                float: right
                                width: 15px
                                height: 15px
                                &.plus
                                    background: url("../assets/img/plus-icon.png") no-repeat center center
                                &.minus
                                    background: url("../assets/img/minus-icon.png") no-repeat center center
                            &.alert-icon
                                display: block
                                width: 19px
                                height: 19px
                                border: solid 2px #FFF
                                border-radius: 100%
                                float: left
                                margin: 0px 5px 0px 0px
                                &.naranja
                                    background: #fb903a
                                &.roja
                                    background: #fb3a3a
                                &.amarilla
                                    background: #ffff28
                    div
                        background: rgba(255, 255, 255, 0.7 )
                        font:
                            size: em(15)
                            family: $regular
                            weight: 300
                        color: #2f2f2f
                        padding: 10px
                        border:
                            radius: 0px
                            width: 0px
                        float: left
                        width: 100%
                        margin-bottom: 1px
                        ul
                            display: inline-block
                            width: 100%
                            padding: 0px
                            margin: 0px
                            list-style: none
                            li
                                display: block
                                width: 100%
                                float: left
                                p
                                    display: block
                                    float: left
                                    width: 50%
                                img
                                    margin-right: 5px 
                                span
                                    display: block
                                    float: right 
                                    width: 50%
                                    font-weight: 700
                                    text-align: right

            &.default
                .info-box
                    background: rgba(0,0,0,0.5)
            &.naranja
                .info-box
                    background: rgba(255,102,0,0.7)
            &.amarillo
                .info-box
                    background: rgba(233,197,1,0.7)
            &.rojo
                .info-box
                    background: rgba(195,6,6,0.7)
    footer
        background: rgba(0,0,0,0.7)
        display: block
        width: 100%
        position: fixed
        bottom: 0px
        color: #FFF
        padding: 2px 0px 2px 0px
        @include breakpoint(mobile)
            position: relative
            display: inline-block
            margin: 
                top: 25px
            padding: 10px 0px 
            float: left
        p 
            font:
                size: em(12)
            text-transform: uppercase
            margin: 0px 30px 0px 0px
            display: inline-block
        ul
            display: inline-block
            padding: 0px
            margin: 0px
            position: relative
            top: -1px
            font:
                family: $lato
                size: em(12)
                weight: 300
                style: italic
            li 
                display: inline-block
                margin: 0px 15px 0px 0px
                img
                    margin: 0px 5px 0px 0px
#modalAlert
    .modal-dialog
        margin-top: 20% 
        .modal-content
            background: rgba(1,16,24,0.8)
            border-radius: 0px
            box-shadow: none
            .close
                color: #FFF
                position: absolute
                right: -40px
                top: -70px
                text-shadow: none
                opacity: 1
                font-size: 11px
                text-transform: uppercase
                font-weight: 300
                @include breakpoint(mobile)
                    right: 0px
                    top: -80px
                span
                    display: block
                    font-size: 60px
                    position: relative
                    top: 10px
            &.naranja
                background: rgba(255,126,0,0.8)
            &.amarillo
                background: rgba(199,183,40,0.8)
            &.rojo
                background: rgba(251,58,58,0.8)
            .modal-header
                padding: 
                    top: 30px
                border: none
                h3
                    color: #FFF
                    font:
                        size: em(43)
                        weight: 300
                    text:
                        transform: uppercase
                    strong  
                        weight: 700
            .modal-body
                color: #FFF
                width: 70%
                margin: 0px auto
                @include breakpoint(mobile)
                    width: 100%
                ul
                    padding: 0px
                    list-style: none
                    font:
                        size: em(16)
                        weight: 300
                    text-transform: uppercase
                    display: inline-block
                    li
                        display: block
                        width: 100%
                        float: left
                        margin-bottom: 10px
                    img
                        margin-right: 15px 
                    span
                        display: block
                        float: right 
                        width: 30%
                        font-weight: 700
                        text-align: right
.modal-backdrop.in
    opacity: 0.8
    filter: alpha(opacity=80)